<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DB Project</title>
</head>
<body>
<div align="center">
    <form method="POST" action="">
        <p>
            {{ assignReviewForm.reviewer1.label }} <br>
            {{ assignReviewForm.reviewer1 }}
        </p>
        <p>
            {{ assignReviewForm.reviewer2.label }}<br>
            {{ assignReviewForm.reviewer2 }}
        </p>
        <p>
            {{ assignReviewForm.reviewer3.label }}<br>
            {{ assignReviewForm.reviewer3 }}
        </p>
    </form>
</div>
</body>
</html>