<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DB Project</title>
</head>
<body>
{% block content %}
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <div align="center">
    <hr>
        <h2>
            Too bad Bootstrap doesn't work for us so we can make this look pretty.
        </h2>
    <div>
        <form method="POST" action=''>
        {{ createForm.submit() }}
        </form>
        <br>
        <form method="POST" action=''>
        {{ assignReviewForm.submit() }}
        </form>
    </div>
    </div>
{% endblock %}
</body>
</html>